.container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    
}

.container > img {
    margin-top: 2rem;
    margin-left: -8%;
}

.containerLogin {
    justify-self: center;
    align-self: center;
    max-height: 5rem;

}