.container {
    display: grid;
    grid-template-rows: 1fr 1fr .8fr 1fr;
    color: var(--white);
    max-width: 450px;
}

.container header{
    font-weight: 800;
    font-size: 2rem;
    margin: 1.5rem .5rem;
}

.containerText {
    display: grid;
    grid-template-columns: .2fr 1fr;
    color: var(--text-highlight);
    font-size: 20px;
    margin-left: .2rem;
    width: 70%;
}

.container p {
    margin-left: 0.3rem;
}

.containerLogin {
    display: flex;
    width: 100%;
    
    border: 1px solid var(--blue);
    border-radius: 10px;
    height: 5rem;
    
}

.containerLogin input {
    min-width: 70%;
    font-size: 20px;
    color: var(--white);
    border-radius: 10px 0 0 10px;
    background-image: linear-gradient(to right, var(--blue-light), var(--blue-dark));
    border: hidden;
    padding: 1.5rem;
}

.containerLogin button {
    background: var(--blue-dark);
    width: 20%;
    border: 1px solid var(--white);
    border-radius: 0 10px 10px 0;
    font-size: 0;
}