.container {
    height: 100vh;
    left: 0;

    float:left;
    min-height: 610px;

    display: grid;
    grid-template-rows: 6fr 1fr 1fr 6fr;
    align-items: center;
    justify-content: center;
    

    background-color: var(--white);
    border-right: 1px solid var(--blue);
    border-radius: 0px 10px 10px 0px;
}

.container button {
    font-size: 0;
    background: none;
    width: 5rem;
    height: 3rem;

    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border: hidden;
    
    transition: background-color 0.2s;
}

.container button:hover {
    background-color: var(--background);
}

.container button:first-child {
    align-self: flex-start;
    margin-top: 1.5rem;
}

.buttonHome {
    border-left: 5px solid var(--blue);
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

.buttonLeaderBoard {

}

.container button:last-child {
    align-self: flex-end;
    margin-bottom: 1.5rem;
}