.containerButton {
  display: grid;
  margin-top: 1em;
  flex-direction: column;
}

.containerButton button:first-child {
  color: var(--red);
  background-color: var(--white);
  font-size: 10px;
  width: fit-content;
  justify-self: center;
}

.containerButton button:last-child {
  width: 100%;
  height: 2em;
  margin-top: 5px;
  font-weight: 700;
}