.isNotLoggedOverLay {
    background: var(--backgroud);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    display: grid;

    justify-content: center;
    align-items: center;
}

.isNotLoggedContainer {
    background: var(--white);
    width: 100%;
    max-width: 400px;
    padding: 2rem 3rem;
    border-radius: 5px 5px 0px 0px;
    box-shadow:  0 0 60px rdba(0, 0, 0.86);
    text-align: center;
    position: relative;

    align-self: flex-end;
}

.isNotLoggedOverLay div:last-child {
    flex: 1;
    height: 3px;
    border-radius: 0px 0px 1px 1px;
    background: var(--gray-line);
    position: relative;

    align-self: flex-start;
}

.isNotLoggedOverLay div:last-child > div {
    height: 3px;
    border-radius: 0px 0px 1px 1px;
    background: var(--green);
}

.isNotLoggedContainer a {
    font-weight: 600;
    font-style: italic;
    
}

.isNotLoggedContainer a:hover {
    color: var(--blue-light)
}