.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;

  color: var(--title);
}

.containerProfile {
  background-color: var(--white);
  padding: 2em;
  margin:  auto;
  border-radius: 10px;
  box-shadow: 0 0 60px rgb(0 0 0 / 5%);
}

.containerProfile header {
  display: grid;
}

.containerProfile header img {
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  justify-self: center;
}

.containerProfile header h1 {
  min-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

