.container {
    background: var(--blue);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: .5rem;
}

.container > img {
    margin-top: 2rem;
    margin-left: -8%;
}

.container p {
    font-size: 1.2rem;
}

.containerLogin {
    justify-self: center;
    align-self: center;
    max-height: 5rem;
}

@media (max-width: 1007px) {
    .containerLogin {
        order: -1;
        z-index: 1;
        transform: translateY(50%);
    }

}