.loginArea {
    background-image: linear-gradient(to bottom, var(--blue-light) 80%, var(--blue));
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.containerLogin {
    justify-self: center;
    align-self: center;
}

.loginArea > img {
    filter: opacity(40%);
    justify-self: center;
    align-self: center;
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
}

.container section {
    display: flex;
    height: 55vh;
    background-image: linear-gradient(to bottom, var(--blue), #F2F3F5 3% 98%, var(--blue-dark) 100%);
    color: black;
    align-items: center;
}

.container section article {
    max-width: 500px;
    margin: 0 auto;
    padding: 5px;
}

.container section h1 {
    font-size: 3em;
    text-align: center;
}

.container section article p {
    text-align: justify;
    text-justify: inter-cluster;
    text-indent: 1em;
    margin-top: 1.5rem;
} 

.footerContainer {
    background-color: var(--blue-dark);
    color: white;
}

.footerContainer nav {
    padding: 10px;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
}

@media (max-width: 840px) {
    .loginArea > img {
        display: none;
    }
}