.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;

  color: var(--title);
}

.leaderBoardContainer {
  margin-top: 1rem;
}

.tableIndex {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(40px, .1fr) minmax(50px, 1fr));
  font-weight: 500;
  font-variant-caps: all-small-caps;
  font-size: 1.2rem;
  color: var(--text);
  justify-content: center;

  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableIndex > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr) minmax(30px, .5fr) minmax(20px, .5fr));
}

.nChallenges {
  text-align: center;
}

.experience {
  text-align: center;
}

.tableIndex label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.tableDataContainer {
  margin-top: 5px;
}

.tableDataUser {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, .1fr) minmax(50px, 1fr));
  gap: 4px;
}

.tableDataUser > div:first-child {
  display: grid;
  background: var(--white);
  border-radius: 8px 0px 0px 8px;
}

.tableDataUser > div p {
  justify-self: center;
  align-self: center;
}

.user {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr) minmax(30px, .5fr) minmax(20px, .5fr));
  padding: .5rem;
  border-radius: 0px 8px 8px 0px;
  align-items: center;
  
  background: var(--white);
}

.user > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, 5rem minmax(64px, 1fr));
}

.user div div {
  min-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user div div strong {
  font-weight: 600;
  font-size: 1.2rem;
  width: fit-content;
}

.user div div p {
  display: flex;
  align-items: center;
}

.user div > img {
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 60px;
}

@media (max-width: 600px) {
  .container {
    padding: 2rem 1rem
  }
  
  .user div > img {
    display: none
  }

  .user div img {
    width: 10px;
    height: 10px;
  }
}