.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;

    color: var(--title);
}

.leaderBoardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
}

.leaderBoardContainer label {
    margin-top: 1.5rem
}